*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    --background-color: white;
    --foreground-color: black;
}

body{
    height:100vh;
    /*background:linear-gradient(blue,purple,brown, blue);*/
    background-color: var(--background-color);
    color: var(--foreground-color);
    background-image: url("cloudbackground.jpg");
    background-repeat: no-repeat;
    background-size: 150% 150%;
}

.container{
    font-size: larger;
    font-family:sans-serif;
    color:var(--foreground-color);
    height: 20em;
}



.name{
    height:50px;
    justify-content: space-around;
    display:flex;
    align-items: center;
}

.location{
    justify-content: space-around;
    display:flex;
    align-items: center;
}

.temperature-container{
    height:40px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.degree-section{
    display:flex;
    align-items: center;
}



.temperature-description{
    color:red;
    font-size: 1cm;
}

.icon{
    position: relative;
    margin: 0cm;
}

.description{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.table{
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(purple,blue);
    color:white;
    font-family: sans-serif;
    font-size:2rem;
    border-radius: 8px;
}

th{
    height:150px;
    width:200px;
}

th:nth-child(even) {background:linear-gradient(purple)}

.switch {
  position: relative;
  align-items: center;
  display: inline-block;
  width: 40px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--foreground-color);
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 3pt 3pt purple;
}

.slider:before {
  position: absolute;
  content: "";
  background-color: var(--background-color);
  height: 13px;
  width: 13px;
  left: 0.5px;
  bottom: 2px;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: var(--foreground-color);
}

.slider:after{
    background-color: var(--foreground-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.dark-mode {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.graphic-table{
  display:flex;
  align-items: center;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 114);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color:purple;
}

.topnav .search-container {
  float: right;
}

.topnav .switch-container {
  float: right;
  padding:16px;
  /*background-color: purple;
  -webkit-border-radius: 64px;
-moz-border-radius: 64px;
border-radius: 64px;*/
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.footer {
  margin-top:30px;
  padding:50px;
  background-color: blue;

  float: none;
    display: block;
  text-align: center;
}

.footer a{
  font-family:'Times New Roman', Times, serif;
}
